.article {
  width: 80vw;
  margin: 0 auto;
  text-align: center;

  @include small-desktop {
    width: 60vw;
  }

  &__image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }

  &__icon {
    color: $secondary-dark-color;
  }

  &__title {
    font-size: 2.75rem;
  }

  &__text {
    font-size: 1.25rem;
  }

  &__list {
    font-size: 1.25rem;
    list-style: none;

    &--highlight {
      padding: 1rem;
      background-color: $secondary-light-color;
      border-radius: 15px;

      @include small-desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
      }

      @include big-desktop {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &-item {
      margin-bottom: 0.5rem;
    }
  }

  &__section {
    text-align: justify;
    scroll-margin-top: 120px;

    @include small-desktop {
      scroll-margin-top: 190px;
    }

    &-title {
      font-size: 1.75rem;
      text-align: left;
    }

    &-subtitle {
      font-size: 1.5rem;
    }
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include small-desktop {
      flex-direction: row;
    }

    &-item {
      position: relative;
      display: inline-block;
    }

    &-img {
      display: block;
      width: 400px;
      max-width: 100%;
      height: auto;
      border-radius: 15px;
    }

    &-caption {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      color: white;
      text-align: center;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 0 0 15px 15px;
    }
  }
}
