<header class="header">
    <img src="./assets/images/logo-recetarium.webp" alt="Logo de Recetarium" class="header__logo">
    <nav class="header__nav">
        <ul class="nav__list">
            <li class="nav__list-item"><a href="#historia" class="nav__list-item-link">Historia</a></li>
            <li class="nav__list-item"><a href="#receta" class="nav__list-item-link">Receta</a></li>
            <li class="nav__list-item"><a href="#tipicos" class="nav__list-item-link">Platos típicos</a></li>
        </ul>
    </nav>
</header>