@use "sass:color";

$font-family-sans-serif:
  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$primary-dark-color: #333;
$primary-light-color: #f8f8f8;
$secondary-dark-color: #e09f3e;
$secondary-light-color: #fdf3bad8;
$recetarium-bg: color.scale($primary-light-color, $lightness: 70%);
